@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<section class="example">
    <p>
        This example app hosts the Web Chat control as a sidebar on the page, and may be resized with these toggle buttons:
    </p>
    <p>
        <button onclick="toggleClassName('wc-narrow')">narrow</button>
        <button onclick="toggleClassName('wc-normal')">normal</button>
        <button onclick="toggleClassName('wc-wide')">wide</button>
    </p>
    <p>
        Important: you will need to set the <b>resize</b> option to <b>'detect'</b> when instantiating the Web Chat.
    </p>
</section>

<div id="BotChatGoesHere"></div>

@section scripts {
    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
    <script>
        const params = BotChat.queryParams(location.search);
        const user = {
            id: params['userid'] || 'userid',
            name: params['username'] || 'username'
        };
        const bot = {
            id: params['botid'] || 'botid',
            name: params['botname'] || 'botname'
        };
        window['botchatDebug'] = params['debug'] && params['debug'] === 'true';

        BotChat.App({
            bot: bot,
            locale: params['locale'],
            resize: 'detect',
            // sendTyping: true,    // defaults to false. set to true to send 'typing' activities to bot (and other users) when user is typing
            user: user,
            // locale: 'es-es', // override locale to Spanish
            directLine: {
                domain: params['domain'],
                secret: params['s'],
                token: params['t'],
                webSocket: params['webSocket'] && params['webSocket'] === 'true' // defaults to true
            }
        }, document.getElementById('BotChatGoesHere'));


        function toggleClassName(className) {
            const BotChatGoesHere = document.getElementById('BotChatGoesHere');
            ['wc-narrow', 'wc-normal', 'wc-wide'].forEach(function (c) {
                BotChatGoesHere.classList.remove(c);
            });
            BotChatGoesHere.classList.add(className);
        }

    </script>
}
